// Variables
$maincolor: #F7934C;
$accentcolor: #53917E;
$grey: #998DA0;
$white: #FFFFFC;
$black: #000000;
$brown: #603706;

main {
    margin: auto;
    text-align: center;

}
body {
    text-decoration: none;
    margin: auto;
    text-align: center;
    height: 100vh;
}
nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    a {
        text-decoration: none;
        color: $grey;
    }
}
div {
    margin: auto;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
}
span {
    font-weight: bold;
    cursor: pointer;
}
.bigNav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    a {
        color: $grey;
        padding-top: 40px;
        padding-left: 250px;
        text-decoration: none;
        font-size: 3em;
        flex-grow: 1;
        text-align: left;
    }
}
// .bigNav>a {

// }
.section {
    position: relative;
    flex-wrap: wrap;
}
.foods {
    width: 200px;
    max-width: 200px;
    height: 250px;
    max-height: 200px;
    min-height: 250px;
    margin: 20px;
    margin-bottom: 40px;
    padding: 5px;
    display: inline-block;
}
.title {
    text-align: center;
    display: block;
}
img {
    height: 200px;
    width: 200px;
    padding: 5px;
    border-radius: 90px;
    display: block;
    float: left;
    object-fit: cover;
    text-align: center;
}
.modal {
    font-size: 20px;
    background-color: $black;
    color: $accentcolor;
    width: 50%;
  }
  .modal > .header {
    width: 45%;
    border-bottom: 1px solid gray;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  .popup-overlay {
    background: rgba(0, 0, 0, 0.7);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

